*{
	margin:0px;
	padding:0px;
}

body{
	font-family:Arial, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:18px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: aliceblue;
}

.page_Header{
	width: 1920px;
	height:50px;
	background-color:#34495E;
	line-height:50px;
	color:white;
	justify-content: center;
}

.page_Header .Account{
	float:left;
}

.page_Header .Account ul{
	list-style: none;
	overflow:hidden;
	display:block;
}

.page_Header .Account ul li{
	display:inline-block;
	border-left: 1px solid;
	width: 200px;
	text-align: center;	
}
#Welcome{
	margin-left: 500px;
	width: 290px;
}
#Money{
	width: 300px;
}
.page_Header .Account ul li a{
	text-decoration:none;
	color:white;
	display:block;
	font-size: 20px;
}
.page_Header .Account ul li a:hover{
	transition-duration:0s;
	color: #1594fc;
}

.page_Header .Account ul li #Login_Button{
	text-align: left;
	text-decoration:none;
	color:white;
	font-size: 20px;
	background-color:#34495E;
	border: none;
}
.page_Header .Account ul li #Login:hover{
	transition-duration:0s;
	color: #1594fc;
}
.nav_bar{
	display: flex;
	color: red;
	width : 1920px;
	height: 40px;
	align-items: center;
	background-color: #4d6985;
}
.nav_bar a{
	text-decoration: none;
	flex-basis:20%;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	line-height:40px;
	justify-content: center;
	color: white;
}
.nav_bar a:hover{
	color: #1594fc;
}
.hang_ngang{
	width: 1920px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.hidden_input{
	display: none;
    width: 0px;
    height: 0px;
    border: 0px;
}
#BuyNow_Button {
    background-color: #4d6985;
    border-radius: 5%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
}

.hidden{
    visibility: hidden;
}
.buynow-container{
    top:0;
    left:0;
    width: 1920px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items:flex-start;    
    background-color: rgba(21, 21, 21, 0.1);
    color:#34495E;
	
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}
input[type=address],#address{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.item_detail{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 500px;
    float: left;
}
.Address_Info{
    margin-top: 30px;
}
.Address_Text{
    width: 400px;
    margin-left: 20px;
}
.buynow-popup{
    margin-top: 50px;
    position: absolute;
    background-color: aliceblue;
    width: 1600px;
    height: 750px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.BuyNow_Button{
    position: absolute;
    margin-top: 50px;
}
.buynow-input-container{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
}
.buynow-input{
    height: 50px;
    width: 400px;
    border: solid 1px #34495E;
    font-size: 25px;
}

.buynow-buynow-btn{
    height: 50px;
    width: 400px;
    margin-top: 50px;
    padding-left: 20px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    border:0;
    background-color:#34495E;
    cursor: pointer;
    transition: .2s;
}

.buynow-buynow-btn:hover{
    border: 1px #34495E solid;
    background-color: #1594fc;
    color: white;
    transition: .2s;
}

.buynow-forgot-password{
    margin: 0;
    margin-left: 325px;
    margin-top: 20px;
    font-size: 25px;
}

.exit-btn{
    position: absolute;
    top: 10px;
    left:1600px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.custom-select {
    position: relative;
    font-family: Arial;
    margin-left: 20px;
    width: 400px;
}
  
.custom-select select {
    /*hide original SELECT element:*/
    display: none; 
}
  
.select-selected {
    background-color:#4d6985;
}
  
  /*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
  
  /*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
  
  /*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
  
  /*style items (options):*/
.select-items {
    position: absolute;
    background-color:#4d6985;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
  
  /*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    height:700px;
    overflow:auto;  
}
#table-wrapper table {
    width:100%;
    margin: 0%;
    padding-right: 10px;
    text-align: center;
}
#table-wrapper table * {
   padding: 0;
   margin: 0%;
}
#table-wrapper thead tr{
    background:#34495E;
    color:white;
    border: #34495E 1px solid;
}
#table-wrapper thead .Hinh_Text{
    width: 100px;
    display: block;
}
#table-wrapper thead .Ma_Text{
    width: 100px;
    display: block;
}
#table-wrapper thead .Ten_Text{
    width: 400px;
    display: block;
}
#table-wrapper thead .DonGia_Text{
    width: 150px;
    display: block;
}
#table-wrapper thead .SoLuong_Text{
    width: 110px;
    display: block;
}
#table-wrapper thead .ThanhTien_Text{
    width: 150px;
    display: block;
}
#table-wrapper thead .Xoa_Text{
    width: 40px;
    display: block;
}
#table-wrapper table td{
    border-bottom:1px solid black;
    border-left:1px solid black;
}
.address_area {
  width: 95%;
  display: block;
  font-size: 20px;
  
  padding: 10px;
  height: 90px;
  resize: none;
}
.dau{
	width: 30px;
	height: 30px;
	font-size: 20px;
	align-items: center;
}
.so_luong{
	width: 30px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	-moz-appearance: textfield;
}
.TongTien{
    width: 370px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-left: 20px;
}
.xoa_button {
    text-decoration: none;
    padding-top: 5px;
    padding-top: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 20%;
    width: 40px;
    height: 40px;
}
.final_columm{
    display:flex;
    height: 212.5px;
    width: 50px;
    border-right: 1px solid black;
    align-items: center;
    justify-content: center;
}
