*{
	margin:0px;
	padding:0px;
}

body{
	font-family:Arial, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:18px;
	justify-content: center;
	align-items: center;
}

.page_Header{
	width: auto;
	height:50px;
	background-color:#34495E;
	line-height:50px;
	color:white;
	justify-content: center;
}

.page_Header .Account{
	float:right;
}

.page_Header .Account ul{
	list-style: none;
	overflow:hidden;
	display:block;
}

.page_Header .Account ul li{
	display:inline-block;
	border-left: 1px solid;
	width: 199px;
	text-align: center;	
}
#Welcome{
	width: 290px;
}
#Money{
	width: 300px;
}
.page_Header .Account ul li a{
	text-decoration:none;
	color:white;
	display:block;
	font-size: 20px;
}
.page_Header .Account ul li a{
	text-decoration:none;
	color:white;
	display:block;
	font-size: 20px;
}

.page_Header .Account ul li a:hover{
	transition-duration:0s;
	color:#D8A70C;
}

.page_Header .Account ul li #Login{
	text-decoration:none;
	color:white;
	font-size: 20px;
}
.page_Header .Account ul li #Login:hover{
	transition-duration:0s;
	color:#D8A70C;
}

.nav_bar{
	display: flex;
	color: red;
	width : 1365px;
	height: 40px;
	align-items: center;
	background-color: yellow;
}
.nav_bar a{
	text-decoration: none;
	flex-basis:20%;
	border-right: 2px solid;
	border-bottom: 2px solid;
	line-height:40px;
	justify-content: center;
	text-align: center;
}
.nav_bar a:hover{
	background-color: #77ceb1;
}
.page_body{
	margin-left: 50px;
	margin-right: 30px;
}

.page_body .hang_doc .hang_ngang{
	display: flex;
}
.page_body .hang_doc .hang_ngang img{
	width: 400px;
	height: 318px;
	float: left;
	flex-direction: column;
	background-color: yellow;
}

.page_body .hang_doc .hang_ngang .Chi_tiet_SP .ten_sp{
	padding-top: 20px;
	font-size: 40px;
	color: red;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP .thongso_sp{
	padding-top: 20px;
	Font-size: 20px;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua{
	padding-top: 30px;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua .hidden_input{
	display: none;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua .dau{
	width: 40px;
	height: 40px;
	font-size: 20px;
	align-items: center;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua .so_luong{
	width: 50px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	-moz-appearance: textfield;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua .gio_hang{
	height: 40px;
	width: 200px;
	
}

.page_body .hang_ngang2{
	display: flex;
	flex-direction: column:
}
.page_body .hang_ngang2 .gia_giam{
	font-size:30px;
}
.page_body .hang_ngang2 .hang_doc2{
	padding-left: 5px;
}
.page_body .hang_ngang2 .hang_doc2 p{
	color: red;
}


