*{
	margin:0px;
	padding:0px;
}

body{
	font-family:Arial, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:18px;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: aliceblue;
}

.page_Header{
	width: 1920px;
	height:50px;
	background-color:#34495E;
	line-height:50px;
	color:white;
	justify-content: center;
}

.page_Header .Account{
	float:left;
}

.page_Header .Account ul{
	list-style: none;
	overflow:hidden;
	display:block;
}

.page_Header .Account ul li{
	display:inline-block;
	border-left: 1px solid;
	width: 200px;
	text-align: center;	
}
#Welcome{
	margin-left: 500px;
	width: 290px;
}
#Money{
	width: 300px;
}
.page_Header .Account ul li a{
	text-decoration:none;
	color:white;
	display:block;
	font-size: 20px;
}
.page_Header .Account ul li a:hover{
	transition-duration:0s;
	color:#1594fc;
}

.page_Header .Account ul li #Login_Button{
	text-align: left;
	text-decoration:none;
	color:white;
	font-size: 20px;
	background-color:#34495E;
	border: none;
}
#Login_Item{
	margin-left: 1005px;
}
#Register_Item{
}

.page_Header .Account ul li #Login:hover{
	transition-duration:0s;
	color:#1594fc;
}
.BuyNow_Button_Area{
	margin-left: 150px;
}
.nav_bar{
	display: flex;
	color: red;
	width : 1920px;
	height: 40px;
	align-items: center;
	background-color: #4d6985;
}
.nav_bar a{
	text-decoration: none;
	flex-basis:20%;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	line-height:40px;
	justify-content: center;
	color: white;
}
.nav_bar a:hover{
	color:#1594fc;
}
.page_body{
	width: 1920px;
	align-items: center;
}

.page_body .hang_doc .hang_ngang{
	display: flex;
	justify-content: center;
}
.page_body .hang_doc .hang_ngang img{
	width: 400px;
	height: 318px;
	float: left;
	flex-direction: column;
	background-color: yellow;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP{
	padding-left: 100px;
	width: 40%;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP .ten_sp{
	padding-top: 20px;
	font-size: 40px;
	color: red;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP .thongso_sp{
	padding-top: 20px;
	Font-size: 20px;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua{
	padding-top: 30px;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua .hidden_input{
	display: none;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua .dau{
	width: 40px;
	height: 40px;
	font-size: 20px;
	align-items: center;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua .so_luong{
	width: 50px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	-moz-appearance: textfield;
}
.page_body .hang_doc .hang_ngang .Chi_tiet_SP #frmMua .gio_hang{
	height: 60px;
	width: 200px;
	
}

.page_body .hang_ngang2{
	display: flex;
	width: 1920px;
	padding-left: 25%;
}
.page_body .hang_ngang2 .gia_giam{
	font-size:30px;
}
.page_body .hang_ngang2 .hang_doc2{
	padding-left: 5px;
}
.page_body .hang_ngang2 .hang_doc2 p{
	color: red;
}
input[type=submit],#BuyNow_Button{
	background-color: #4d6985;
	border-radius: 5%;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}
#BuyNow_Button{
	background-color: #4d6985;
	border-radius: 5%;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
	width: 200px;
}

input[type=submit]:hover{
	background-color: black;
}

