.hidden{
    visibility: hidden;
}
.hidden_input_popup{
    visibility: hidden;
    width: 0px;
    height: 0px;
    border: 0px;
}
.chooseitem-container{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(21, 21, 21, 0.1);
    z-index: 100;
    color:#34495E;
	
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}
.item_detail{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 500px;
    float: left;
}
.chooseitem-popup{
    position: absolute;
    background-color: white;
    width: 1200px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.ChooseItem_Button{
    position: absolute;
    margin-top: 160px;
}
.chooseitem-input-container{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
}
.chooseitem-input{
    height: 50px;
    width: 400px;
    border: solid 1px #34495E;
    font-size: 25px;
}

.chooseitem-chooseitem-btn{
    height: 50px;
    width: 100px;
    margin-top: 50px;
    padding-left: 20px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    border:0;
    background-color:#34495E;
    cursor: pointer;
    transition: .2s;

}
.chooseitem-btn{
    display: flex;
    border-right: 1px solid black;
    width: auto;
    height: 113px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.chooseitem-chooseitem-btn:hover{
    border: 1px #34495E solid;
    background-color: white;
    color: white;
    transition: .2s;
}

.chooseitem-forgot-password{
    margin: 0;
    margin-left: 325px;
    margin-top: 20px;
    font-size: 25px;
}

.exit-btn{
    position: absolute;
    top: 10px;
    left:1200px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    height:500px;
    overflow:auto;  
    margin-top:20px;
}
#table-wrapper table {
    width:100%;
    margin: 0%;
    padding-right: 10px;
    text-align: center;
}
#table-wrapper table * {
   padding: 0;
   margin: 0%;
}
#table-wrapper thead tr{
    background:#34495E;
    color:white;

    text-align: center;
}
#table-wrapper thead .Hinh_Text{
    width: 100px;
    display: block;
}
#table-wrapper thead .Ma_Text{
    width: 100px;
    display: block;
}
#table-wrapper thead .Ten_Text{
    width: 400px;
    display: block;
}
#table-wrapper thead .DonGia_Text{
    width: 150px;
    display: block;
}
#table-wrapper thead .SoLuong_Text{
    width: 110px;
    display: block;
}
#table-wrapper thead .ThanhTien_Text{
    width: 150px;
    display: block;
}
#table-wrapper thead .Xoa_Text{
    width: 40px;
    display: block;
}
#table-wrapper table td{
    border-bottom:1px solid black;
    border-left:1px solid black;
}
.dau{
	width: 30px;
	height: 30px;
	font-size: 20px;
	align-items: center;
}
.so_luong{
	width: 30px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	-moz-appearance: textfield;
}
.TongTien{
    width: 370px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-left: 20px;
}
.xoa_button {
    text-decoration: none;
    padding-top: 5px;
    padding-top: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 20%;
}
.choose_item_title{
    float: left;
    font-size: 26px;
    font-weight: 800;
}